// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: none repeat scroll 0 0 #fff;
    color: #325050;
    font-family: "Libre Baskerville",sans-serif;
    font-size: 2000%;
}
